<app-side-menu (toggle)="menuToggle($event)"></app-side-menu>

<p>Homepage</p>

<ul>
    <li>
        <p>films: <a [href]="data.films">{{data.films}}</a></p>
    </li>
    <li>
        <p>people: <a [href]="data.people">{{data.people}}</a></p>
    </li>
    <li>
        <p>planets: <a [href]="data.planets">{{data.planets}}</a></p>
    </li>
    <li>
        <p>species: <a [href]="data.species">{{data.species}}</a></p>
    </li>
    <li>
        <p>starships: <a [href]="data.starships">{{data.starships}}</a></p>
    </li>
    <li>
        <p>vehicles: <a [href]="data.vehicles">{{data.vehicles}}</a></p>
    </li>
</ul>