<app-side-menu (toggle)="menuToggle($event)"></app-side-menu>

<h3>Homepage StarWarsAPI Usage</h3>

<ul>
    <li>
        <p>films: <a [href]="data.films">{{data.films}}</a></p>
    </li>
    <li>
        <p>people: <a [href]="data.people">{{data.people}}</a></p>
    </li>
    <li>
        <p>planets: <a [href]="data.planets">{{data.planets}}</a></p>
    </li>
    <li>
        <p>species: <a [href]="data.species">{{data.species}}</a></p>
    </li>
    <li>
        <p>starships: <a [href]="data.starships">{{data.starships}}</a></p>
    </li>
    <li>
        <p>vehicles: <a [href]="data.vehicles">{{data.vehicles}}</a></p>
    </li>
</ul>

<h3>Subject - Rxjs (Message Service)</h3>
<input type="text" name="message" id="message">
<input type="button" value="Send" (click)="setMessage()">

<p *ngFor="let message of messages">{{message}}</p>

<h3>Angular Service - State Management</h3>
<a style="padding: 10px; background: #cccccc;" (click)="getUserFromService()">get user</a>
<a style="padding: 10px; background: #cccccc;" (click)="set2UserInService()">set 2 user</a>